In [1]:
import pandas as pd
import numpy as np
import cvxportfolio as cvx
from datetime import datetime, timedelta

In [2]:
companies = ['GAZP', 'SBER', 'LKOH', 'GMKN', 'MGNT',  'TATN', 'NVTK', 'SNGS', 'PLZL', 'SNGSP',
         'PIKK', 'ROSN', 'SBERP', 'CHMF', 'NLMK', 'IRAO', 'YNDX', 'ALRS', 'RUAL', 'MTSS','MAGN', 
         'PHOR', 'RTKM', 'VTBR', 'TATNP', 'TCSG', 'AGRO', 'OZON', 'AFLT', 'AFKS','FEES', 'TRNFP',
         'CBOM', 'VKCO', 'ENPG', 'SGZH', 'FIVE',  'MOEX', 'GLTR', 'HYDR', 'FIXP']

In [77]:
def expected_returns(data, day, hour, companies):
    '''
    Принимает на вход запрос по дате времени и активу
    Возвращает предстказанную доходность
    '''
    output = np.zeros(len(companies))
    preds = data.loc[day, hour]
    availible_companies = preds.Asset.values
    
    for i, company in enumerate(companies):
        if company in availible_companies:
            output[i] = preds[preds.Asset == company].pct_pred[0]
        else:
            output[i] = 0
    return output

def real_returns(data, day, hour, companies):
    '''
    Принимает на вход запрос по дате времени и активу
    Возвращает реальную доходность
    '''
    output = np.zeros(len(companies))
    preds = data.loc[day, hour]
    availible_companies = preds.Asset.values
    
    for i, company in enumerate(companies):
        if company in availible_companies:
            output[i] = preds[preds.Asset == company].pct_fact[0]
        else:
            output[i] = 0
    return output 

def hour2time(hour):
    if hour == 1:
        res = '11:00:00'
    elif hour == 2:
        res = '12:00:00'
    elif hour == 3:
        res = '13:00:00'
    elif hour == 4:
        res = '14:00:00'
    elif hour == 5:
        res = '15:00:00'
    elif hour == 6:
        res = '16:00:00'
    elif hour == 7:
        res = '17:00:00'
    elif hour == 8:
        res = '18:00:00'
    elif hour == 9:
        res = '18:45:00'
    return res

In [145]:
returns = pd.read_csv('cvxportfolio_pred_returns', index_col='Date')
returns.index = pd.DatetimeIndex(returns.index).tz_localize('Europe/Moscow')

closes = pd.read_csv('cvxportfolio_fact_closes', index_col='Date')
closes.index = pd.DatetimeIndex(closes.index).tz_localize('Europe/Moscow')

volumes = pd.read_csv('market_volumes')
volumes.index = pd.DatetimeIndex(volumes.index).tz_localize('Europe/Moscow')

In [53]:
objective = cvx.ReturnsForecast(r_hat=my_forecast) - cvx.StocksTransactionCost(a=0.005)

In [54]:
constraints = [cvx.LongOnly(applies_to_cash=True)]

In [55]:
policy = cvx.SinglePeriodOptimization(objective, constraints, planning_horizon=1)

In [58]:
# data = cvx.UserProvidedMarketData(returns=my_forecast, prices=None)

In [61]:
simulator = cvx.MarketSimulator(returns=my_forecast,volumes=  min_history=pd.Timedelta('100 days 05:45:36'))

In [67]:
# results = simulator.backtest(policy, start_time='2023-02-03 11:00:00', end_time='2023-10-24 18:45:00')

In [87]:
closes

,AFKS,AFLT,AGRO,ALRS,CBOM,CHMF,ENPG,FEES,FIVE,FIXP,...,SGZH,SNGS,SNGSP,TATN,TATNP,TCSG,TRNFP,VKCO,VTBR,YNDX
Date,,,,,,,,,,,,,,,,,,,,,
2023-02-03 11:00:00+03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,21.785,27.160,318.300004,317.700004,2484.000009,89500.001048,NaN,0.015990,1935.999998
2023-02-03 12:00:00+03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,21.845,27.145,315.899998,317.099995,2491.500025,89599.999829,NaN,0.016035,1928.800022
2023-02-03 13:00:00+03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,21.760,27.030,315.100000,315.999996,2482.499994,133438.594898,NaN,0.016005,1931.999936
2023-02-03 14:00:00+03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,21.670,26.770,318.300004,319.300005,2484.999979,133438.594898,NaN,0.015975,1919.399977
2023-02-03 15:00:00+03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,21.520,26.910,318.600004,319.199998,2498.000011,89399.999472,NaN,0.015970,1925.799975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-24 15:00:00+03:00,17.711,40.950000,1621.799981,71.800001,7.272,1384.000001,513.200003,0.12414,2384.000009,373.299999,...,4.866,NaN,NaN,NaN,NaN,NaN,NaN,607.400003,NaN,NaN
2023-10-24 16:00:00+03:00,17.690,40.890000,1607.800012,71.649999,7.266,1382.400004,512.800002,0.12828,2374.500010,369.399997,...,4.824,NaN,NaN,NaN,NaN,NaN,NaN,604.000004,NaN,NaN
2023-10-24 17:00:00+03:00,17.639,40.840001,1582.799970,71.529999,7.231,1387.199994,512.600002,0.12780,2387.000003,369.700004,...,4.796,NaN,NaN,NaN,NaN,NaN,NaN,604.600005,NaN,NaN
2023-10-24 18:00:00+03:00,17.662,40.900001,1580.400002,70.950001,7.239,1383.400007,508.400002,0.12612,2384.000009,368.400000,...,4.794,NaN,NaN,NaN,NaN,NaN,NaN,605.600001,NaN,NaN
2023-10-24 18:45:00+03:00,17.660,40.410000,1586.999978,70.990001,7.248,1380.600002,510.399996,0.12776,2385.000007,368.000002,...,4.812,NaN,NaN,NaN,NaN,NaN,NaN,605.800006,NaN,NaN

In [163]:
volumes_ = pd.DataFrame({'values':[0 for i in range(closes.shape[0])]}, index=closes.index.date)

In [156]:
res = []
for i in range(volumes.shape[0]):
    if volumes.iloc[i].date in 
    print(volumes.iloc[i].date)
    print(volumes.iloc[i].vol_in_rub)
    break

2023-02-03
16460897341.505869

In [166]:
volumes_

            values       dates
2023-02-03       0  2023-02-03
2023-02-03       0  2023-02-03
2023-02-03       0  2023-02-03
2023-02-03       0  2023-02-03
2023-02-03       0  2023-02-03
...            ...         ...
2023-10-24       0  2023-10-24
2023-10-24       0  2023-10-24
2023-10-24       0  2023-10-24
2023-10-24       0  2023-10-24
2023-10-24       0  2023-10-24

[1647 rows x 2 columns]

In [171]:
volumes

                                           date    vol_in_rub
1970-01-01 00:00:00+03:00            2023-02-03  1.646090e+10
1970-01-01 00:00:00.000000001+03:00  2023-02-06  1.515663e+10
1970-01-01 00:00:00.000000002+03:00  2023-02-07  1.311372e+10
1970-01-01 00:00:00.000000003+03:00  2023-02-08  1.621835e+10
1970-01-01 00:00:00.000000004+03:00  2023-02-09  1.737286e+10
...                                         ...           ...
1970-01-01 00:00:00.000000182+03:00  2023-10-24  1.609398e+10
1970-01-01 00:00:00.000000183+03:00  2023-10-25  1.311452e+10
1970-01-01 00:00:00.000000184+03:00  2023-10-26  6.516386e+09
1970-01-01 00:00:00.000000185+03:00  2023-10-27  4.030272e+09
1970-01-01 00:00:00.000000186+03:00  2023-10-30  1.500371e+09

[187 rows x 2 columns]